.login-section{
    width: 100%;
    display: flex;
    justify-content: center;
}
.login-main_container{
    width: 25%;
    height: fit-content;
    padding: 20px;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
}
.login-bottom_container{
    width: 100%;
}